*{
    margin: 0;
}

.container{
    background-color: grey;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

.caixaUm{
    background-color: red;
    width: 100px;
    height: 100px;
}

.caixaDois{
    background-color: yellow;
    width: 100px;
    height: 50px;
}

.caixaTres{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}