@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 143, 124);
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.cabecalho{
    display: flex;
    background-color: rgb(231, 231, 231);
    height: 10vh;
    align-items: center;
}

.outrasReceitas{
    text-decoration: none;
    color: rgb(0, 143, 124);
    font-weight: 500;
    padding-left: 500px;
}

.pesquisa{
    background-color: rgb(231, 231, 231);
    text-decoration: solid rgb(0, 143, 124);
    height: 25px;
    width: 600px;
    margin-left: 650px;
    border: solid rgb(0, 143, 124);
    border-radius: 10px;
}

.titulo{
    color: white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.imagem{
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(231, 231, 231);
    justify-content: flex-start;
    float: left;
    margin-right: 10px;
}

.subtitulo{
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.tituloLista{
    color: white;
    font-weight: 400;
    gap: 20px;
}

.texto{
    color: white;
    font-weight: 300;
}

.todosTextos{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.sobreMim{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgb(0, 143, 124);
    border-radius: 10px;
    font-weight: 300;
    align-items: center;
    margin-top: 2%;
    margin-left: 35%;
    margin-right: 35%;  
}

.duvidas{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 2%;
    gap: 10px;
    align-items: center;
}

.video{
    border: solid white;
    border-radius: 10px;
    opacity: 0.8;
}

.video:hover{
    opacity: 1;
}

.encontreLoja{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mapa{
    border: solid white;
    border-radius: 10px;
    opacity: 0.8;
}

.mapa:hover{
    opacity: 1;
}

.faleComigo{
    color: white;
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    border-style: dashed;
    border-radius: 10px;
}

.rodape{
    background-color: rgb(231, 231, 231);
    color:rgb(0, 143, 124);
    font-weight: 500;
    padding-block: 10px;
    padding-left: 10px;
}